<div class="row">
	<div class="col-sm-9 content-wrapper">
		<!-- <h1>
			Hi, I'm Rashad Abdul-Salaam.<br>
			<small>I'm passionate about startups, software and digital design.</small>

		</h1>

		<p class="text-justify">
			Welcome my little home away from home on the internet: a place to showcase my work and ponder about my passions. I built this digital get-away primarily using Rails 4 and  Bootstrap 3 for easy styling and content publishing. I will be posting links to some of my personal projects and portfolio work, along with written pieces expounding upon my perspective on business, tech, and other flights of fancy.
		</p>

		<p class="text-justify">
			Additionally, I'm available for web-design and development projects and contract work. This includes everything from simple startup MVP landing pages and static HTML sites, to more complex web applications requiring user sign-up/login, content management, etc.
		</p>
		<p class="text-justify">
			Feel free to contact me with inquiries via the button to the right.
		</p>
 -->
		<%#= render @projects %>

		<%= render 'projects/project' %>

	</div>

	<% if @articles %>
		<div class="col-sm-3">
			<h2>Latest Updates</h2>
		</div>

	<% else %>

		<aside class="col-sm-3"> 
			
			<%= render 'static_pages/about' %>

		</aside>
	<% end %>

</div>


