<div class="container">
	<h1 class="rpc-title text-center">Rock, Paper, Scissors Game</h1>

	<ul class="tourney-select">	    
	    <li>
	        Choose Tournament Length
	        <select id="tourney-num">
	            <option value="">Select Series</option>
	            <option value="4">Best of 3</option>
	            <option value="6">Best of 5</option>
	            <option value="8">Best of 7</option>
	        </select>
	    </li>
	    <li>
	        <p class="play btn btn-primary">Play <span></span></p>
	    </li>
	</ul>
	<section class="row">
		<div class="col-sm-7">
			<ul class="rounds"><h2>Rounds</h2></ul>
		</div>
		<div class="col-sm-5">
			<ul class="scoreboard"><h2>Scoreboard</h2>
			    <li>
			        <h3>Player<span class="score player-score"> 0</span></h3>
			    </li>
			    <li>
			        <h3>CPU<span class="score CPU-score"> 0</span></h3>
			    </li>
			</ul>
		</div>
	</section>

</div>