<h1>My Projects</h1>

	<% @projects.each do |project| %>

		<h2><%= link_to "#{project.name}", project_url(project) %></h2>

		<p><%= project.instructions %></p>

		<% project.images.each do |image| %>

			<%= image_tag image.asset.url(:small) %>

		<% end %>

	<% end %>