
<section class="row border">

	

	<section class="col-sm-2">
		<div class="tourney-select">
	        <p>Choose Tournament Length</p>
	        <select id="tourney-num" class="form-control">
	            <option value="">Select Series</option>
	            <option value="4">Best of 3</option>
	            <option value="6">Best of 5</option>
	            <option value="8">Best of 7</option>
	        </select>		    
		</div>	

		<br />

		<div>
			<p class="play btn btn-primary btn-lrg">Play <span></span></p>
		</div>
		
		
	</section>

	<section class="col-sm-8 rps-field">
		<ul class="scoreboard text-center"><h2>Scoreboard</h2>
		    <li>
		        Player<span class="score player-score"> 0</span>
		    </li>
		    <li>
		        CPU<span class="score CPU-score"> 0</span>
		    </li>
		</ul>

		<div class="row">
			<div class="col-sm-6">
				<p id="player"></p>
			</div>
		   		    
		    <div class="col-sm-6">
		    	<p id="CPU"></p>
		    </div>
		</div>
	</section>

	<section class="col-sm-2">
		
		<ul class="rounds"><h2>Rounds</h2></ul>
		
	</section>
	
</section>



