<div class="row">
  <section class="media col-sm-9 content-wrapper">

  	<% if notice %>
		<div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  <p id="notice"><%= notice %></p>
		</div>
	<% end %>

    <%= render "project" %>
    
  </section>

  <aside class="col-sm-3">

    <%= render "static_pages/about" %>

  </aside>
</div>
