<div class="row">
  <section class="media col-sm-9 content-wrapper">

    <%= render "project" %>
    
  </section>

  <aside class="col-sm-3">

    <%= render "static_pages/about" %>

  </aside>
</div>
